<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Hannibal's Recipe Box</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Hannibal's Recipe Box</h1>
    </div>
    <h1>Welcome:</h1>
    <br>
    <p>Hannibal Lecter is a skilled chef and passionate about his craft. Check out these <span class="strike-through">flesh</span> fresh recipes!</p>
    <div id="space">
    </div>
    <hr>
    <a href="/cuisines" class="btn btn-dark">View Cuisines</a>
    <a href="/recipes" class="btn btn-dark">View Recipes</a>
  </div>
</body>
</html>
